<%! from django.utils.translation import ugettext as _ %>
<%! from django.conf import settings %>

<%namespace name='static' file='static_content.html'/>

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>


<html>
<head>
    <title>Logging in...</title>
    <script type="text/javascript" src="/static/js/vendor/jquery.min.js" charset="utf-8"></script>
</head>
<body>

    <!--<p>You are now being redirected to IFMO SSO service... If it does not happen automatically </p>-->
    <form name="IfmoSSOForm" action="${settings.SSO_PATH}" method="POST">
          <input type="hidden" name="redirect" value="${redirect}" />
          <input type="hidden" name="auth_source" value="ifmo_sso" />
          <input type="hidden" name="csrfmiddlewaretoken" value="${csrftoken}" />

    % if course_id and enrollment_action:
          <input type="hidden" name="enrollment_action" value="${enrollment_action | h}" />
          <input type="hidden" name="course_id" value="${course_id | h}" />
    % endif

          <div class="form-actions">
            <button name="submit" type="submit" id="submit" style="border: none; background-color: transparent; display: none;"></button>
          </div>
    </form>

    <script>
        $(function(){
            $('#submit').click();
        })
    </script>

</body>
</html>


